include ../svgiconsmodule/svgicons.pug
include ../chatframemodule/chatframe.pug

include ../headermodule/header.pug
#hero-image
a#chat-button.click-button(href="#chat"): svg: use(href="#svg-chat-icon")
include ../footermodule/footer.pug