// header styles
#header
    width 100%
    padding 50px 4%
    box-sizing: border-box
    #header-top-line
        display flex
        justify-content: space-between
        align-items: center
        border-bottom: solid 3px black
        padding-top 10px
        padding-bottom 30px

    #header-menu-button
        cursor pointer
        padding 10px
        border-radius: 50%
        svg
            height 25px
            width 25px

    #header-menu-button:hover
        background-color: #efefef

    h2
        padding-top 10px