//-############################################################
svg#svgicon-definitions
    defs
        filter#svg-dropshadow-filter(height="130%" width="130%")
            fegaussianblur(in="SourceGraphic" stddeviation="3" result="blurOut")
            feColorMatrix(in="blurOut" type="saturate" values="0.25" result="shadowOut")
            feblend(in='SourceGraphic' in2='shadowOut' mode='normal')

//-############################################################
svg#svgicon-symbols

    symbol#svg-cross-icon(preserveAspectRatio="xMidYMid meet" viewBox='0 0 24 24')
        path(fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z")
    
    symbol#svg-menu-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 23 23")
        path(d="M11.5 4.67188C12.0954 4.67188 12.5781 4.18918 12.5781 3.59375C12.5781 2.99832 12.0954 2.51562 11.5 2.51562C10.9046 2.51562 10.4219 2.99832 10.4219 3.59375C10.4219 4.18918 10.9046 4.67188 11.5 4.67188Z" stroke="currentColor" stroke-width="2.15625" stroke-linecap="round" stroke-linejoin="round")
        path(d="M11.5 12.5781C12.0954 12.5781 12.5781 12.0954 12.5781 11.5C12.5781 10.9046 12.0954 10.4219 11.5 10.4219C10.9046 10.4219 10.4219 10.9046 10.4219 11.5C10.4219 12.0954 10.9046 12.5781 11.5 12.5781Z" stroke="currentColor" stroke-width="2.15625" stroke-linecap="round" stroke-linejoin="round")
        path(d="M11.5 20.4844C12.0954 20.4844 12.5781 20.0017 12.5781 19.4062C12.5781 18.8108 12.0954 18.3281 11.5 18.3281C10.9046 18.3281 10.4219 18.8108 10.4219 19.4062C10.4219 20.0017 10.9046 20.4844 11.5 20.4844Z" stroke="currentColor" stroke-width="2.15625" stroke-linecap="round" stroke-linejoin="round")

    symbol#svg-query-icon(preserveAspectRatio="xMidYMid meet" viewbox='0 0 24 24')
        path(fill='currentColor' d='M3 21V17H10.5C12.43 17 14 15.43 14 13.5V11H10L16 4L22 11H18V13.5C18 17.64 14.64 21 10.5 21H3Z')

    symbol#svg-phone-icon(preserveAspectRatio="xMidYMid meet" viewbox='0 0 24 24')
        path(fill="currentColor" d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z")
    
    //- symbol#svg-cam-icon(preserveAspectRatio="xMidYMid meet" viewbox='0 0 24 24')
    //-     path(fill="currentColor" d="M17,10.5V7A1,1 0 0,0 16,6H4A1,1 0 0,0 3,7V17A1,1 0 0,0 4,18H16A1,1 0 0,0 17,17V13.5L21,17.5V6.5L17,10.5Z")

    symbol#svg-cam-icon(preserveAspectRatio="xMidYMid meet" viewbox='0 0 30 31')
        path(fill-rule="evenodd" clip-rule="evenodd" d="M0 9.92432C0 8.92975 0.395088 7.97593 1.09835 7.27267C1.80161 6.5694 2.75544 6.17432 3.75 6.17432H17.8125C18.722 6.17421 19.6006 6.50468 20.2846 7.10418C20.9687 7.70368 21.4115 8.53136 21.5306 9.43307L27.3619 6.84182C27.6473 6.71464 27.96 6.66081 28.2715 6.68523C28.583 6.70964 28.8835 6.81153 29.1456 6.98162C29.4078 7.15171 29.6232 7.38462 29.7724 7.65917C29.9216 7.93372 29.9999 8.24121 30 8.55369V22.5449C29.9997 22.8572 29.9215 23.1644 29.7724 23.4387C29.6233 23.7131 29.408 23.9458 29.1461 24.1158C28.8843 24.2859 28.5841 24.3878 28.2728 24.4125C27.9616 24.4371 27.6491 24.3836 27.3638 24.2568L21.5306 21.6656C21.4115 22.5673 20.9687 23.3949 20.2846 23.9945C19.6006 24.594 18.722 24.9244 17.8125 24.9243H3.75C2.75544 24.9243 1.80161 24.5292 1.09835 23.826C0.395088 23.1227 0 22.1689 0 21.1743V9.92432Z" fill="currentColor")

    symbol#svg-chat-icon(preserveAspectRatio="xMidYMid meet" viewbox='0 0 24 24')
        path(fill="currentColor" d="M12,3C17.5,3 22,6.58 22,11C22,15.42 17.5,19 12,19C10.76,19 9.57,18.82 8.47,18.5C5.55,21 2,21 2,21C4.33,18.67 4.7,17.1 4.75,16.5C3.05,15.07 2,13.13 2,11C2,6.58 6.5,3 12,3Z")

    symbol#svg-chatbox-icon(preserveAspectRatio="xMidYMid meet" viewbox='0 0 24 24')
        path(fill="currentColor" d="M17,12V3A1,1 0 0,0 16,2H3A1,1 0 0,0 2,3V17L6,13H16A1,1 0 0,0 17,12M21,6H19V15H6V17A1,1 0 0,0 7,18H18L22,22V7A1,1 0 0,0 21,6Z")

    symbol#svg-peers-icon(preserveAspectRatio="xMidYMid meet" viewbox='0 0 24 24')
        path(fill="currentColor" d="M12,5.5A3.5,3.5 0 0,1 15.5,9A3.5,3.5 0 0,1 12,12.5A3.5,3.5 0 0,1 8.5,9A3.5,3.5 0 0,1 12,5.5M5,8C5.56,8 6.08,8.15 6.53,8.42C6.38,9.85 6.8,11.27 7.66,12.38C7.16,13.34 6.16,14 5,14A3,3 0 0,1 2,11A3,3 0 0,1 5,8M19,8A3,3 0 0,1 22,11A3,3 0 0,1 19,14C17.84,14 16.84,13.34 16.34,12.38C17.2,11.27 17.62,9.85 17.47,8.42C17.92,8.15 18.44,8 19,8M5.5,18.25C5.5,16.18 8.41,14.5 12,14.5C15.59,14.5 18.5,16.18 18.5,18.25V20H5.5V18.25M0,20V18.5C0,17.11 1.89,15.94 4.45,15.6C3.86,16.28 3.5,17.22 3.5,18.25V20H0M24,20H20.5V18.25C20.5,17.22 20.14,16.28 19.55,15.6C22.11,15.94 24,17.11 24,18.5V20Z")
    

    symbol#svg-webcam-icon(preserveAspectRatio="xMidYMid meet" viewbox='0 0 24 24')
        path(fill="currentColor" d="M12,2A7,7 0 0,1 19,9A7,7 0 0,1 12,16A7,7 0 0,1 5,9A7,7 0 0,1 12,2M12,4A5,5 0 0,0 7,9A5,5 0 0,0 12,14A5,5 0 0,0 17,9A5,5 0 0,0 12,4M12,6A3,3 0 0,1 15,9A3,3 0 0,1 12,12A3,3 0 0,1 9,9A3,3 0 0,1 12,6M6,22A2,2 0 0,1 4,20C4,19.62 4.1,19.27 4.29,18.97L6.11,15.81C7.69,17.17 9.75,18 12,18C14.25,18 16.31,17.17 17.89,15.81L19.71,18.97C19.9,19.27 20,19.62 20,20A2,2 0 0,1 18,22H6Z")


    symbol#svg-hangup-icon(preserveAspectRatio="xMidYMid meet" viewbox='0 0 24 24')
        path(fill="currentColor" d="M12,9C10.4,9 8.85,9.25 7.4,9.72V12.82C7.4,13.22 7.17,13.56 6.84,13.72C5.86,14.21 4.97,14.84 4.17,15.57C4,15.75 3.75,15.86 3.5,15.86C3.2,15.86 2.95,15.74 2.77,15.56L0.29,13.08C0.11,12.9 0,12.65 0,12.38C0,12.1 0.11,11.85 0.29,11.67C3.34,8.77 7.46,7 12,7C16.54,7 20.66,8.77 23.71,11.67C23.89,11.85 24,12.1 24,12.38C24,12.65 23.89,12.9 23.71,13.08L21.23,15.56C21.05,15.74 20.8,15.86 20.5,15.86C20.25,15.86 20,15.75 19.82,15.57C19.03,14.84 18.14,14.21 17.16,13.72C16.83,13.56 16.6,13.22 16.6,12.82V9.72C15.15,9.25 13.6,9 12,9Z")