// globalstyles styles
/*==========================================================
Fonts
==========================================================*/

@font-face
  font-family: 'Inter'
  font-style:  normal
  font-weight: 500
  src: url("font/Inter-Medium.woff2?v=3.19") format("woff2")

@font-face
  font-family: 'Inter'
  font-style:  normal
  font-weight: 700
  src: url("font/Inter-Bold.woff2?v=3.19") format("woff2")

/*==========================================================
Color Theme
==========================================================*/
cd-foreground = black
cd-flash = purple
cd-background = white

/*==========================================================
Global Variables
==========================================================*/
// max-content-width = 900px
// mobile-side-padding = 15px


/*==========================================================
General Tag Styles
==========================================================*/
body
    background-color cd-background
    color cd-foreground
    font-family: "Inter", Arial, Helvetica, sans-serif
    font-weight: 500
    text-align: left
    font-size: 12pt
    min-height 100% 
    width 100%
    padding 45px
    box-sizing: border-box
    overflow hidden

h1
    font-family: "Inter"
    font-weight: 700
    font-size: 32px
h2
    font-family: "Inter"
    font-weight 700
    font-size: 24px
p
    font-size: 12pt

a:hover 
    opacity: 0.6